<div class="container">
  <div class="row">
    <h3>Meteorite Classifications</h3>
  </div>
  <div class="row">
    <img src="http://curator.jsc.nasa.gov/education/LPETSS/_images/Classification.png" alt="">
  </div>

  <div class="row" id="paulsId">
      <div class="col-md-4">
        <h4>Iron Meteorite</h4>
        <img src="http://www.physics.smu.edu/jcotton/ph1311/ironmet.jpeg">
      </div>
      <div class="col-md-4">
        <h4>Chondrite</h4>
        <img src="http://img.tarad.com/shop/t/thaicosmic/img-lib/spd_2008030325651_b.jpg">
      </div>
      <div class="col-md-4">
          <h4>Anchondrite</h4>
        <img src="http://go2add.com/images/stones/kapoeta-R[1].A.LangheirnrichMuseum.jpg" alt="">
      </div>
    </div>

  </div>
