<div ng-controller="asteroidCtrl">
  <div>
    <header>
      <h1>Will The Earch Be Destroyed By An Asteroid?</h1>
    </header>
  </div>
<h4>Your Birthday Asteroid</h4>
<input type="search" placeholder="date -can be your birthday" ng-model="date">
<button type="submit" value"search" ng-click="getAsteroidInfo()">Search</button>

<div>
  {{nearMisses}}
</div>
</div>


<!-- need close approach date close_approach_data -->

<!-- miss distance    miss_distance -->

<!-- picture of superman in his shuttle or pic of meteorite hitting the earch  -->
