
<div class="container">
<div ng-controller="chartMainCtrl" class="row">
<div class="col-4">

<input ng-model="query" placeholder="4 digit year"/>
<button ng-click="getMeteoriteLandingByDate(query)">Submit</button>
<div>
<span>Total number of meteorite landings </span></div>
<div ng-repeat="landing in landingList | unique: 'name' | unique: 'latitude' | unique: 'longitude'">
  <ul>
    <li>{{landing.name}}</li>
    <li>{{landing.latitude}}</li>
    <li>{{landing.longitude}}</li>
  </ul>
</div>
</div>

</div>
</div>
