<div class="container" ng-controller="formController">
  <h2>Fireball Event Data</h2>
  <p>This table shows recent fireball sightings</p>
  <table class="table table-striped table-bordered table-hover" ng-init="getReports()">
    <thead>
      <tr>
        <th>Reported By</th>
        <th>Date</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="report in reports">
        <td>{{report.name}}</td>
        <td>{{report.date | date:'longDate'}}</td>
        <td>{{report.address}}</td>
      </tr>

    </tbody>
  </table>
</div>
