
<div class="row" ng-controller='mLandingsCtrl'>
  <h3>Input Year To See Meteorites!</h3>
<div id="meteoriteForm">
  <form class="form form-inline">
    <div>
      <input ng-model="query" id="inputsm" placeholder="4-digit year" class="form-control input-sm col-lg-2">
      <button type="button" name="button" ng-click="meteoriteLandings(query)" class="form-control">Search</button>
  </div>
  </form>
</div>
<table class="table meteoriteTable">
        <tr>
          <th>Meteorite Name</th>
          <th ng-click="sortData('mass')" class="specialTh">Mass(g)<div ng-class="getSortClass('mass')"></div></th>
          <th><label for="typeM">Filter:</label><input type="text" id="typeM" ng-model="typeSearch" placeholder="Meteorite Type"></th>

        </tr>
      <tr ng-repeat="data in meteoriteDataCenter | filter:typeSearch | orderBy:sortColumn:reverseSort">
<!-- sort by mass  sort by type sort by location like angular friends  -->
          <td>{{data.name}}</td>
          <td>{{data.mass}}</td>
          <td id="seeImages" ng-model="metType">{{data.type}}
          <button ng-click="getImage(metType)">See Image of Meteorite Type</button>
          <div class="imageToUse">
            <a class="viewMeteoriteImage">View Meteorite Image</a>
            <img ng-src="{{imageToUse}}">
          </div></td>


          <!-- <td ng-click="modalCtrl.modalUpdate('lg')">{{data.latitude}},{{data.longititude}}</td> -->
          <!-- <td><reverse-geocode lat="{{data.latitude}}" lng="{{data.longitude}}" /></td> -->


      </tr>
  </table>
  </div>
