<p>


Annual Meteor Showers
Name	When They Occur
Quadrantids	January 1-6
April Lyrids	April 19-24
Eta Aquarids	May 1-8
Delta Aquarids	July 15- August 15
Perseids	July 25 - August 18
Orionids	October 16-27
Taurids	October 20-November 30
Leonids	November 15-20
Geminids	December 7-15
</p>

<div> $300.00 per gram or more - meaning a 1 pound meteorite can be worth a million dollars.
</div>
<p>
Cartoon diagram of comet path through solar system.
The dust and rocks that cause meteor showers come primarily from the Earth passing through the debris stream left behind by a comet as it orbits the Sun. Usually, the Earth's orbit and the comet's orbit are slightly tilted relative to one another. So the paths only intersect on one side!</p>

<div>
  <h1>How can I tell if I found one?</h1>
Most metals found on Earth are either man-made or a meteorite. A piece of metal without holes or bubbles in it may be a meteorite. If you think you’ve found one but aren’t sure, rub your find on a piece of unfinished ceramic tile. If the streak is red, the mineral is hematite and not a meteorite. If you don’t have any ceramic tile lying around, try to break a piece of your find off. If it is a meteorite, it will be similar to naturally-occurring steel, and you probably won’t be able to break it no matter how hard you try.
</div>

<p><h2>10. How frequently do meteorite falls occur?</h2>

</p>
