<div ng-controller='mainCtrl'>
<header>
  <h2>Look, up in the sky! It's a bird, it's a plane, it's...A Fireball</h2>
</header>
<h3>Record fireball occurance</h3>
<form ng-controller="formController">
Address where you observed the fireball
<input type="text" placeholder="address observed" ng-model="report.address"/><br />
Direction you were facing when you observed fireball
<input type="number" placeholder="0-360 degrees" ng-model="report.direction_facing"/><br />
Date you observed fireball
<input type="date" ng-model="report.date"/><br />
Where according to horizon you observed fireball
<select name="location" ng-model="report.location_observed_at">
<option value="">at horizon</option>
<option value="">above horizon</option>
<option value="">below horizon</option>
</select><br />
How bright was the fireball
<select name="brightness" ng-model="report.brightness">Brightness
<option value="">-4</option>
<option value="">-5</option>
<option value="">-6</option>
<option value="">-7</option>
<option value="">-8</option>
<option value="">-9</option>
<option value="">-10</option>
<option value="">-11</option>
<option value="">-12</option>
<option value="">-13</option>
<option value="">-14</option>
<option value="">-15</option>
<option value="">-16</option>
<option value="">-17</option>
<option value="">-18</option>
<option value="">-19</option>
<option value="">-20</option>
<option value="">-21</option>
<option value="">-22</option>
<option value="">-23</option>
<option value="">-24</option>
</select>

<br />
Color of fireball
<input type="text" placeholder="color" ng-model="report.fireball_color"><br/>
Sound associated with fireball
<select name="sound">
<option value="">concurrent</option>
<option value="">delayed</option></select><br />
was there a smoke trail
<select>
  <option value="">yes</option>
  <option value="">no</option>
</select><br />
Submit Report
<input type="submit" ng-click="createReport(report)">
</form>
</div>
<!-- where observed
// direction facing 0-360
// how high from horizon angle 0-180
// date dirty
//bightness -4 to -28  bright as moon in middle as sun -28
//color
// sounds associated with it  concurrent or delayed
// smoke trail /train
// terminal flash -->
