
<div class="bgimg">
  <h1>Thanks for reporting your fireball.</h1>

<h2>What would you like to do?</h2>
<ul>

  <li>You can observe other fireball occurances</li>
  <a ui-sref="verifyFireball">
  <button>go</button>
  </a>
<br />
  <li>see where meteorites have fallen</li>
  <a ui-sref="meteoriteChart">
  <button>go</button>
  </a>
<br />
  <li>check for incomming asteroids</li>
<a ui-sref="asteroidInfo">
    <button>go</button>
  </a>
<br />
  <li>expore the universe</li>
<a ui-sref="trenzalore">
  <button>go</button>
  </a>
  <br />
</ul>
</div>
