
<div class="">Thanks for reporting your fireball.
What would you like to do?
<ul>
  <li>You can observe other fireball occurances</li>
  <a ui-sref="verifyFireball">
  <button>go</button>
  </a>

  <li>see where meteorites have fallen</li>
  <a ui-sref="meteoriteChart">
  <button>go</button>
  </a>

  <li>check for incomming asteroids</li>
<a ui-sref="asteroidInfo">
    <button>go</button>
  </a>

  <li>expore the universe</li>
<a ui-sref="trenzalore">
  <button>go</button>
  </a>

</ul>
</div>
</div>
<div class="sticky-footer">
  <img src="https://tctechcrunch2011.files.wordpress.com/2016/07/dscovr-orbit.jpg?w=525&h=406" class="pull-left" height="200" width="200" />
</div>
