/*#header-top {
    background-color: #0b3b62;
    padding: 0;
    background-image: url("http://eoimages.gsfc.nasa.gov/images/imagerecords/84000/84357/iss040e87351_lrg.jp");
    background-size: cover;
    background-position: 100% 50%;
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}*/
#navbar-img {
  background: url('http://eoimages.gsfc.nasa.gov/images/imagerecords/84000/84357/iss040e87351_lrg.jpg');
  width: 100%;
  height: 352px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

}

#navbar-headerMe {
  width: 100%;
}
/*#aboutparagraphleft{*/
  margin-left: 20px;
}
