<div>
  <div class="row">
    <header class="col-md-12 well well-lg text-center superman">
      <h1>Look, up in the sky! It's a bird, it's a plane, it's...A Fireball</h2>
    </header>
</div>
<div class="container-fluid">

<div class="row">
<div class="col-md-12 cover">
<form role="form">
<div class="row top-row">
  <div class="form-group col-md-2 col-md-offset-3">
    <input type="text" class="form-control" placeholder="Name" ng-model="report.name" /><span class="help-block">fullname</span>
  </div>
  <div class="form-group col-md-2 col-md-offset-3">
    <input type="text" class="form-control" placeholder="address observed" ng-model="report.address" /><span class="help-block">city, State and street</span>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-2 col-md-offset-3">

    <input type="text" class="form-control" placeholder="longitude" ng-model="report.geo_location.longitude" />
  </div>
  <div class="form-group col-md-2 col-md-offset-3">

    <input type="degree" class="form-control" placeholder="latitude" ng-model="report.geo_location.latitude"/>
  </div>
</div>

<div class="row">
<div class="form-group col-md-2 col-md-offset-3">
  <input type="number" class="form-control" placeholder="0-360 degrees" ng-model="report.direction_facing"/><span class="help-block">which direction where you facing from north</span>
</div>
<div class="form-group col-md-2 col-md-offset-3">
  <input type="date"  class="form-control" ng-model="report.date"/>
</div>
</div>

<!-- <div class="form-control"> -->
<div class="row">
  <div class="form-group col-md-2 col-md-offset-3">
  <select name="location" class="form-control" ng-model="report.height_above_horizon"><span class="help-block">Where according to horizon you observed fireball</span>
  <option value="">at horizon</option>
  <option value="">above horizon</option>
  <option value="">below horizon</option>
  </select>
  </div>
  <div class="form-group col-md-2 col-md-offset-3">
  <select name="brightness" ng-model="report.brightness" class="form-control">Brightness
    <option value="">-4</option>
    <option value="">-5</option>
    <option value="">-6</option>
    <option value="">-7</option>
    <option value="">-8</option>
    <option value="">-9</option>
    <option value="">-10</option>
    <option value="">-11</option>
    <option value="">-12</option>
    <option value="">-13</option>
    <option value="">-14</option>
    <option value="">-15</option>
    <option value="">-16</option>
    <option value="">-17</option>
    <option value="">-18</option>
    <option value="">-19</option>
    <option value="">-20</option>
    <option value="">-21</option>
    <option value="">-22</option>
    <option value="">-23</option>
    <option value="">-24</option>
  </select><span class="help-block">How bright was the fireball</span>
</div>
</div>
<div class="row">
<div class="form-group col-md-2 col-md-offset-3">
  <input type="text" class="form-control" placeholder="color" ng-model="report.color"><span class="help-block">color (yellow, wht, orange)</span>
</div>
<!-- <div class="form-control"> -->
<div class="form-group col-md-2 col-md-offset-3">
  <select class="form-control" name="sound" class="form-control" ng-model="report.associated_sound">
    <option value="">concurrent</option>
    <option value="">delayed</option>
  </select><span class="help-block">Sound associated with fireball</span>
</div>
</div>
<div class="row">
  <div class="form-group col-md-2 col-md-offset-3">
  <select class="form-control" ng-model="report.visual">
  <option value="">yes</option>
  <option value="">no</option>
</select><span class="help-block">did you see a smoke trail</span>
  </div>
<div class="btn btn-lg form-group col-md-2 col-md-offset-3">
  <button type="submit" class="btn btn-primary" ng-click="createReport(report)" ui-sref="fireballEvents">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
